@model IEnumerable<Employee_Signing_System.Models.ViewModel.GuardQueue>

<h3>Guard Out Badges:</h3>
<h5><code>Assigned Badges Record</code></h5>
@if (Model == null)
{
    <p> Not Assigned anyone yet, today.</p>
}
<div class="container">
    <table class="table align-content-center">
        <thead style="align-content:center">
            <th>Picture</th>
            <th>Name</th>
            <th>Badge No.</th>
            <th>Assign Time</th>
        </thead>
        <tbody class="table-striped p-5 align-content-center">
            @foreach (var item in Model!)
            {
                <tr class="align-middle">
                    <td><img src=@item.TempEmpImg alt="Employee Image" width="60px" height="60px" style="border-radius:50%" /></td>
                    <td>@item.TempEmployee.EmployeeFirstName @item.TempEmployee.EmployeeLastName</td>
                    <td>@item.TempEmployee.TempBadge</td>
                    <td>@item.TempEmployee.AssignT.Value.TimeOfDay</td>
                </tr>
            }
        </tbody>
    </table>
</div>