@model Employee_Signing_System.Models.EmployeeTempBadge

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EmployeeTempBadge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeFirstName" class="control-label"></label>
                <input asp-for="EmployeeFirstName" class="form-control" />
                <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLastName" class="control-label"></label>
                <input asp-for="EmployeeLastName" class="form-control" />
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempBadge" class="control-label"></label>
                <input asp-for="TempBadge" class="form-control" />
                <span asp-validation-for="TempBadge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignInT" class="control-label"></label>
                <input asp-for="SignInT" class="form-control" />
                <span asp-validation-for="SignInT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignOutT" class="control-label"></label>
                <input asp-for="SignOutT" class="form-control" />
                <span asp-validation-for="SignOutT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignT" class="control-label"></label>
                <input asp-for="AssignT" class="form-control" />
                <span asp-validation-for="AssignT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
